Inspirado <a href="http://lojinha.jcranky.com/about" target="_blank">nessa lojinha</a>, o objetivo é vender coisas que eu não uso ou não quero mais (e possa ser útil para outras pessoas).<br/>
<br/>
Não estou saindo do país, só querendo espaço e fazer dinheiro.<br/>
<br/>
Quanto à entrega, moro em <a href="https://www.google.com.br/maps/place/Cachoeirinha,+RS">Cachoeirinha/RS</a>. Podemos combinar entregas na grande Porto Alegre. Para outras cidades, envio pelo correio, mas o custo do frete é por conta do comprador.<br/>
<br/>
Para contato direto, usar:
<ul>
<li>Email: <a href="mailto:adamatti@gmail.com">adamatti@gmail.com</a></li>
<li>Whatsapp: 51 9 8425 3027</li>
<li>Facebook: <a href="https://www.facebook.com/marcelo.adamatti">marcelo.adamatti</a></li>
</ul>