Vendo PS3, 500gb, bloqueado (dá para jogar online de boa), 2 controles + base para carregar, controle + camera de movimento, 14 jogos (midia física)<br/>
<ul>
<li>Batman Arkham Asylum e city</li>
<li>Castlevania Lord of shadows</li>
<li>Cavaleiros do zodíaco - batalha do santuário</li>
<li>God of war 1,2 e 3</li>
<li>Gran turismo 5</li>
<li>GTA 4</li>
<li>Infamous 2</li>
<li>Lego star Wars - complete saga</li>
<li>Need for Speed shift</li>
<li>Tekken hybrid (jogo + filme)</li>
<li>Uncharted drakes Fortune</li>
</ul>
Tenho as caixas e manuais<br/>
<ul>
<li><a href="https://www.facebook.com/groups/brickgravatai/permalink/1921691121180566/?sale_post_id=1921691121180566">Anuncio no facebook</a></li>
</ul>

<img src="/assets/ps3/caixa.jpg" width="500"/>
<img src="/assets/ps3/jogos.jpg" width="500"/>
<img src="/assets/ps3/motion.jpg" width="500"/>
<img src="/assets/ps3/carregador.jpg" width="500"/>