Ótimo apartamento térreo localizado na região central de Cachoeirinha, rua tranquila, transporte coletivo na porta de casa ficando a 10 min da Dorival, o imóvel conta com 2 amplos dormitórios, 1 banheiro, sala de jantar, sala de estar e 2 vagas de garagem sendo 1 coberta.

<ul>
<li><a href="http://www.lopes.com.br/imovel/apartamento-2-dormitorios-vila+cachoeirinha-cachoeirinha-com-garagem-venda-RS235000-74m2-ref-570-IM287026">Anuncio do Imóvel</a></li>
</ul>

<img src="/assets/sobrado.jpg" width="500"/>